@import './base/reset.css';
@import './base/variables.css';

/* Configuração da fonte Roboto */
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
